.skill-up {
  background-image: linear-gradient(45deg, white 40%, #96e6a1 100%);
  padding-top: 6rem;
  /* border: 1px solid red; */
  z-index: 0;
}

.img3 {
  height: 15%;
  width: 15%;
}

.footer {
  background-image: linear-gradient(90deg, rgba(235, 255, 245, .53) 25.99%, #fffcef);
}

.icons:hover {
  color: green;
  cursor: pointer;
}

@media screen and (max-width: 480px) {
  .skill-up {
    background-image: none;
  }
}

@media screen and (max-width: 768px) {
  .skill-up {
    background-image: none;
  }

  .img3 {
    display: none;
  }
}